@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  table {
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #eff1f2;
          border-radius: 40px;
        }

        &:nth-child(even) {
          background-color: #f9fafa;
          border-radius: 40px;
        }
      }
    }
  }

  .scrollbar {
    &::-webkit-scrollbar {
      width: 20px;
      height: 15px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 100vh;
      background-color: #e5e9eb;
    }

    &::-webkit-scrollbar-thumb {
      background: #0080ff;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #2d6baa;
    }
  }
}
